/* style.css */

body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    font-size: 60px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin: 0;
    padding: 50px 0 50px 0
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    gap: 48px;
}

button#rock,
button#paper,
button#scissors {
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    border-color: gray;
    border-width: 5px;
}

#top-stuff{
    display: flex;
    gap: 48px;
}

#boxes {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.playerBox,
.computerBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.results {
    text-align: center;
}

#header-image {
    display: flex;
    justify-content: center;
    width: 400px;
    animation: imageOpacity 2s;
}

@keyframes imageOpacity {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

#rock
#paper
#scissors {
    display: flex;
    flex-direction: ;
    text-align: center;
}

#images {
    width: 200px;
}

.footer {
    font-size: 18px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}